* {
  /* Defines how the width and height of an element are calculated: should they include padding and borders, or not. */
  /* box-sizing: border-box; Width and height apply to all parts of the element: content, padding and borders */
  /* box-sizing: content-box; Width and height only apply to the content of the element */
  box-sizing: border-box;
}

/* BEG styling for font */
@font-face {
  font-family: "poppins";
  src: url(/assets/fonts/Poppins-Regular.ttf);
}

/* BEG styling for logo on top */
body {
  margin: 0;
}

header a.logo {
  position: absolute;
  display: block;
  width: 70px;
  height: 70px;
  background: url(/assets/images/Subaru-Logo.png) no-repeat 0 0;
  background-size: contain;
  z-index: 1;
  top: 10px;
  left: 20px;
}
header a.logo span {
  display: none;
}

header a.logo:hover {
  opacity: 0.8;
}

header a.banner {
  position: absolute;
  display:block;
  left:50%;
  top:0%;
  transform: translate(-50%,0);
  /*padding: 10px 10px 10px 10px;*/
  text-align: center;
  height:auto;
  width:1000px;
  font-family:"poppins";
  color:#fff;
  font-size:10em;
  font-weight:bold;
}

header a.background {
  background-color: #232128;
  width: auto;
  height:200px;
  display:block;
  /*background: rgb(85, 81, 81) url(/assets/images/PXL_20210706_183348525.PANO.jpg) no-repeat center;
  background-size: cover;*/
}



nav {
  background-color: #232128;
  height: 50px; /* 20vh; Q: How to set a % based on screen size */
  width:auto;
}
/* END styling for logo on top */

/* BEG styling navigation bar */
nav ul {
  font-family: "poppins";
  list-style: none;
  margin: 0;
  position:absolute;
  float: none;
  top: 200px;
  left: 50%;
  transform: translate(-50%,0);
  width:1000px;
}

nav ul::after {
  content: "";
  display: block;
  clear: both;
}

nav > ul > li {
  float: left;
}

nav ul li a {
  display: inline-block;
  color: #fff;
  padding: 10px 50px 10px 50px;
  text-decoration: none;
  width: auto;
}

/* styling hover nav item */
nav ul li a:hover {
  background-color: rgb(204, 211, 211, 0.2);
  text-decoration: none;
  color: #fff;
}

.active-page { /* defines class active-page https://www.w3schools.com/cssref/sel_class.asp */
  border-bottom: #F6CA56 solid 3px;
  /*background-color: rgba(0, 102, 102, 0.6);*/
}

.active-menu-item {
  background-color: #339999;
}

/* END styling navigation bar */

/********** BEG for dropdown menu in small screen **********/
.dropdown {
  position: absolute;
  display: none;
  top: 0; /* top right bottom left work with position:absolute, set an absolute position where to put the dropdown menu */
  right: 0px;
}

.dropbtn {
  background-color: rgba(0, 102, 102, 0);
  color: white;
  padding: 21px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  line-height: normal; /* do this override/cascade the line-height set in carousel plugin */
}

.dropdown-content {
  display: none; /* set display to none, so dropdown menu won't show till hover dropdown */
  position: absolute;
  right: 0;
  background-color: rgba(0, 102, 102, 0.8);
  min-width: 280px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  line-height: normal; /* do this override/cascade the line-height set in carousel plugin */
}

.dropdown-content a:hover {
  background-color: #339999;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover {
  background-color: rgba(0, 102, 102, 0.8);
}
/********** END for dropdown menu in small screen **********/

/* BEG styling hero screen*/
.home-page {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  right: 0; /* need to have position set to "fixed" */
  bottom: 0; /* need to have position set to "fixed" */
  width: auto;
  height: auto;
  background-color: rgba(255, 255, 255, 0.8);
  /*background: url(/assets/images/PXL_20220219_Background.jpeg) no-repeat center;
  background-size: cover;*/
  display: flex; /* for hero text */
  justify-content: center; /* for hero text */
  align-items: center; /* for hero text */
  z-index: -1;
}

.home-page::before{
  content:"";
  background-image: url(/assets/images/PXL_20220219_Background.JPEG);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}

.hero-text {
  font-family:"poppins";
  color: #333333;
  font-size: 2em;
  font-weight: bold;
  z-index:1;
}


/* END styling hero screen*/

/* style page banner */
/* style all header with the definition below */
header.food-page {
  background: rgb(85, 81, 81) url(/assets/images/PXL_20210706_183348525.PANO.jpg) no-repeat center; /* top center bottom - 1/3 of the image full height */
  background-size: cover;
  height: 330px;
}

header.page-3 {
  background: rgb(85, 81, 81)
}

header.page-4 {
  background: rgb(85, 81, 81)
}

header.page-5 {
  background: rgb(85, 81, 81)
}

header.page-6 {
  background: rgb(85, 81, 81)
}

/* style footer */
.footerstyle {
  position: fixed;
  display:block;
  color:#fff;
  width: 100%;
  background-color: #232128;
  text-align: center;
  padding: 10px 0 10px 0;
  bottom: 0;
  left: 0;
  font-family: "poppins";
  z-index:2;
}

/* style photo carousel */


/* BEG styling headings */
h1 {
  font-family:"poppins";
  margin: 1em 1em 0.2em 1em;
  color: #ffffff;
  font-size: 4em;
  font-weight: bold;
  letter-spacing: 5px;
}

h2 {
  font-family:"poppins";
  letter-spacing: 2px;
}

h3 {
  font-family:"poppins";
  margin: 0px 0px 1.5em 0px;
  color: #000000;
  font-size: 0.8em;
  font-weight: normal;
  letter-spacing: 2px;
}

p{
  font-family:"poppins";
}

li {
  font-family:"poppins";
}
/* END styling headings */

/* Styling anchor link (hyperlink) */
a {
  color: #fff;
  text-decoration: none;
}

/* BEG styling images */
img.size01 {
  max-width: 300px;
  padding-bottom: 10px;
}

img.size02 {
  max-width: 400px;
  padding-bottom: 15px;
}

img.size03 {
  max-width: 500px;
  padding-bottom: 20px;
}

.padding-right {
  padding-right: 15px;
}

.padding-left {
  padding-left: 15px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.to-top {
  width: 100%;
  padding: 30px;
}

#vegetables {
  color: seagreen;
}

#fruits {
  color: orangered;
}

#grains {
  color: saddlebrown;
}
/* END styling images */

/* set padding from browser edges for content */
article > div,
footer > div {
  /* padding: top right bottom left */
  padding: 0px 40px 0px 40px;
}

/* Styling text box & flex content*/
.scroll {
  display: block;
  position: relative;
  top:10px;
  left: 25%;
  border: 0px solid black;
  background-color: black;
  padding: 10px;
  margin-top: 10px;
  width: 50%;
  height: 100px;
  overflow-y: scroll;
  font-family:"poppins";
  color:#fff;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0;
}

.flex-01 {
  width: 25%;
}

.flex-02 {
  width: 20%;
}

.flex-03 {
  width: 33%;
}

.flex-04 {
  width: 50%;
}

.scroll-x {
  overflow-x: scroll;
  padding-top: 20px;
}

figure {
  margin: 0;
  padding: 0 10px;
}


/* Accordion */
.accordion {
  color: #00a2ff;
  cursor: pointer;
  font-size: 15px;
  padding-bottom: 10px;
}

.active,
.accordion:hover {
  color: #339999;
}

.panel {
  display: none;
  overflow: hidden;
}

/* Styling Screen Size */
@media screen and (max-width: 750px) {
  /*header {
    height: 240px;
  }*/
  header a.logo {
    width: 120px;
    height: 44px;
  }
  
  header a.banner {
    position: absolute;
    display:block;
    left:50%;
    top:10%;
    transform: translate(-50%,0);
    /*padding: 10px 10px 10px 10px;*/
    text-align: center;
    height:auto;
    width:1000px;
    font-family:"poppins";
    color:#fff;
    font-size:5em;
    font-weight:bold;
  }
  
  /*** for carousel area ***/
  section > div.carousel-area {
    width: 100%;
    float: none;
    margin-bottom: 40px;
    /* padding: top right bottom left */
    padding: 0px 40px 30px 40px;
    border-right: none;
    border-bottom: 1px solid #555;
  }
  /*** for carousel area ***/
  article {
    width: 100%;
    float: none;
    margin-bottom: 40px;
  }
  article > div {
    margin: 0px 40px;
    /* padding: top right bottom left */
    padding: 0px 0px 30px 0px;
    border-right: none;
    border-bottom: 1px solid #555;
  }
  aside {
    width: 100%;
    float: none;
  }

  nav {
    /* padding: top right bottom left */
    padding: 50px 0px 0px 20px;
  }
  nav > ul {
    padding-left: 0px;
    padding-right: 20px;
  }
  nav > ul > li > a {
    /* padding: top right bottom left */
    padding: 8px 12px 10px 12px;
  }
  .flex-container > div {
    width: 25%;
  }
  .flex-container > span > h2 {
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
  }
  video {
    display: none;
  }
}

/********** BEG for dropdown menu in small screen **********/
@media screen and (max-width: 500px) {
  nav > ul {
    display: none;
  }
  header.food-page {
    background: #eee url(../images/food-02.jpg) no-repeat center; /* top center bottom - 1/3 of the image full height */
    background-size: cover;
    height: 270px;
  }
  .dropdown {
    display: block;
  }
  .flex-container > div {
    width: 50%;
  }
  aside > div > div.scrolling {
    height: 300px;
  }
}
/********** END for dropdown menu in small screen **********/
